/* Color Schema */
:root {
    --primary-soft-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);

    --neutral-dark-blue1: hsl(217, 54%, 11%);
    --neutral-dark-blue2: hsl(216, 50%, 16%);
    --neutral-dark-blue3: hsl(215, 32%, 27%);
    
    --white:  hsl(0, 0%, 100%);
}
*, body {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-dark-blue1);
    font-family: 'Outfit',sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.card-container {
    width: 350px;
    border-radius: 15px;
    margin: auto;
    background-color: var(--neutral-dark-blue2);
    padding: 24px;
}

.main-image {
    width: 100%;
    border-radius: 10px;
    transition: .5s ease;
}

.main-image:hover {
    cursor: pointer;    
    opacity: 0.3;
    border-radius: 8px;
}

.card-body-image:hover {
    background-color: var(--primary-cyan);
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.title {
    font-weight: 600;
    font-size: 22px;
    margin-top: 24px;
    color: var(--white);
}
.title:hover, .creator .name:hover {
    cursor: pointer;
    color: var(--primary-cyan);
}

.subtitle {
    color: var(--primary-soft-blue);
    font-size: 18px;
    margin-top: 16px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.etherium, .time {
    display: flex;
    align-items: center;
}

.separotor {
    height: 1px;
    background-color: var(--neutral-dark-blue3);
    margin-top: 24px;
}

.text {
    font-size: 16px;
    line-height: 20px;
    margin-left: 8px;
}

.etherium .text {
    color: var(--primary-cyan);
    font-weight: 600;
}

.time .text {
    color: var(--primary-soft-blue);
    font-weight: 400;
}

.creator-image {
    width: 30px;
    border: 1px solid var(--white);
    border-radius: 30px;
}

.creator {
    display: flex;
}

.creator-row {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.creator .text {
    color: var(--primary-soft-blue);
    margin: 0 5px 0 16px;
}

.creator .name {
    color: var(--white);
}

.creator .name, .creator .text {
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width: 400px) {
    .card-container {
        width: 90vw;
        min-width: 350px;
        flex-direction: column-reverse;
    }
}